<div class="layout-container">
    <div class="sidebar">
      <div class="logo">BOCA</div>
      
      <nav class="nav-menu">
        <a routerLink="/dashboard" routerLinkActive="active">COMPETENCIA</a>
        <a routerLink="/users" routerLinkActive="active">USUARIO</a>
        <a routerLink="/problems" routerLinkActive="active">RESULTADOS</a>
        <a routerLink="/answers" routerLinkActive="active">PATROCINADORES</a>
        <a routerLink="/settings" routerLinkActive="active">CONFIGURACION</a>
        
        <div class="divider"></div>
        
        <a (click)="logout()" class="logout">Logout</a>
      </nav>
    </div>
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
